//@import "vars"

@media all and (max-width: 1690px) 
	.container
		max-width: 1380px
	.slick-next
		right: -70px
	.slick-prev
		left: -70px


@media all and (max-width: 1280px)
	.container
		max-width: 1140px
	html
		font-size: 90%
	.callback
		padding-bottom: 125px
	form .row .form-group label
		font-size: .9rem
		padding-left: 15px
	.main
		margin-bottom: 90px
	.get-clients-block--item
		max-width: 48%
	.get-clients-block--img
		margin-left: 0
	.our-cases-reclame .our-cases-item--text
		max-width: 35%
	.our-cases-item--stat,
	.our-cases-item:nth-child(even) .our-cases-item--stat
		width: 60%
	.our-numbers-item .number:before
		width: 80px
		height: 80px
	.our-numbers-item .number
		font-size: 3.8rem
	.slick-next
		right: 18px
	.slick-prev
		left: 18px
	.reviews-slide .video-popup
		max-width: 100%
		height: 197px
	.slick-slide
		max-width: 350px

@media all and (max-width: 992px)
	.main
		margin-bottom: -60px
	html
		font-size: 80%
	.container
		max-width: 960px
	.sa-menu ul li a
		padding: 0 15px
	.header .custom-logo-link img
		width: 200px
	.phone
		height: 100%
		display: flex
		align-items: center
	.main-title-wrap .rotate
		left: -20px
	.main-content-block .sa-btn
		margin-top: 35px
	.main-bg-1
		top: -42vw
		right: -18vw
	.our-cases-reclame .our-cases-item:nth-child(even) .our-cases-item--text
		margin-left: 0
	.our-cases-item--stat__elem
		width: 50%
		text-align: center
		margin-bottom: 20px
	.our-cases-item--stat__elem .circle-gr
		margin: 0 auto
	.our-cases-item--stat
		padding-bottom: 10px
	.our-numbers-item .number:before
		width: 70px
		height: 70px
	.our-numbers-item .number
		font-size: 3.6rem
	.our-numbers-item .number:before
		left: 63%
	.our-numbers-item p
		width: 100%
	.slick-slide
		max-width: 520px
		margin: 0 auto
	.reviews-slide .video-popup
		height: 240px


@media all and (max-width: 768px)
	section h2
		line-height: 1.2
	form .row .form-group
		width: 48%
	html
		font-size: 70%
	.main
		margin-bottom: -30px
	.main-bg-2
		width: 75%
	.main-bg-3
		top: 45px
		width: 62%
	.sa-btn
		padding: 15px 60px
	.phone
		background-size: 20px
		padding-left: 30px
		padding-right: 60px
	.info-line
		height: 45px
	.sa-menu
		display: none
	.header
		background-color: #fff
		box-shadow: 0 3px 40px rgba(0,0,0,.3)
	.menu-btn
		display: flex
	.main
		height: auto
	.main-content
		padding-top: 30%
	.main-title
		font-size: 2.5rem
		max-width: 360px
	.main-title-wrap .rotate
		font-size: 1rem
		left: -10px
	.main-title-wrap .small-span
		font-size: .9rem
		left: -12px
	.main-content-block
		z-index: 5
	.main-descr p:first-child
		font-weight: 500
		font-size: 1.2rem
	.get-clients h2
		margin-left: 0
	.get-clients-block
		flex-direction: column
		align-items: center
	.get-clients-block--img
		width: 50%
		margin-bottom: 30px
	.get-clients-block--items
		width: 90%
	.get-clients-block--item
		margin-bottom: 20px
	.our-numbers-item .number:before
		width: 60px
		height: 60px
	.our-numbers-item .number
		font-size: 3.4rem
	.our-numbers-item .number:before
		left: 63%
	.reviews
		padding-bottom: 100px
	.slick-next
		right: 35%
		top: 100%
	.slick-prev
		left: 35%
		top: 119%


@media all and (max-width: 580px)
	.main
		margin-bottom: 50px
		min-height: auto
	section
		padding-top: 50px
	.callback
		padding-top: 120px
		form
			margin-bottom: 30px
	section h2
		font-size: 1.7rem
	.callback h2
		margin-top: 3vw
	form .row .form-group
		width: 100%
		margin-bottom: 20px
	form .row
		margin-bottom: 20px
	html
		font-size: 70%
	.custom-logo-link
		display: none
	.phone
		background-image: none
		padding-left: 0
		font-size: 15px
	.main-content
		padding-top: 60vw
	.main-bg-2
		width: 100%
		right: -25vw
	.main-bg-3
		width: 78%
		right: auto
	.main-content-block .sa-btn
		padding: 16px 45px
		display: block
		text-align: center
		margin: 30px auto 0
	.main-title-wrap
		padding-left: 30px
	.get-clients
		padding-top: 0
	.get-clients-block
		align-items: flex-start
	.get-clients-block--img
		width: 100%
		margin-bottom: 30px
	.get-clients-block--items
		width: 80%
	.get-clients-block--item
		max-width: 100%
		margin-bottom: 20px
	.our-cases-item, .our-cases-item:nth-child(2n)
		flex-direction: column-reverse
		align-items: flex-start
		margin-bottom: 50px
	.our-cases-item .our-cases-item--text,	
	.our-cases-item:nth-child(2n) .our-cases-item--text
		margin-left: 0
		margin-right: 0
	.our-cases-item--img
		margin-bottom: 22px
	.sa-btn.sa-btn--tr
		padding: 10px 40px
	.our-cases-item--img img
		filter: drop-shadow(0px 50px 70px rgba(#1f1a57, .28))
	.our-cases-item--stat, .our-cases-item:nth-child(even) .our-cases-item--stat
		width: 100%
		margin-bottom: 30px
	.our-cases-reclame .our-cases-item--text
		max-width: 100%
	.our-cases-item--stat__elem .circle-gr
		width: 95px
		height: 95px
	.our-numbers
		padding-top: 180px
		padding-bottom: 170px
		height: 100%
		min-height: 800px
		margin-top: -120px
	.our-numbers-block
		flex-direction: column
		align-items: flex-start
	.our-numbers-item
		width: 100%
		text-align: left
		margin-bottom: 10px
	.our-numbers-item:first-child .number::before,
	.our-numbers-item:last-child .number::before,
	.our-numbers-item .number::before
		left: 60px
	.our-numbers-item .number
		font-size: 4rem
	.reviews-slide .video-popup
		height: 162px
	.slick-next
		right: 30%
		top: 91.7%
	.slick-prev
		left: 30%
		top: 119%
	.reviews
		padding-top: 0
		margin-top: -100px
