@import "vars"
@import "libs"
@import "fonts"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff
html
	font-size: 100%
ul, li
	list-style: none
	padding: 0
	margin: 0

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	height: 2000px
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

img
	display: block
	max-width: 100%
	width: 100%
	height: auto
	width: 100%
	object-fit: cover

.text-center
	text-align: center

b, strong
	font-weight: bold

a
	color: $text
	transition: all .2s ease
	&:hover
		text-decoration: none
		color: $text
.accent-c
	color: $accent

.sa-btn
	background-image: linear-gradient(to right, rgb( 240, 161, 68 ) 0%, rgb( 224, 82, 71 ) 100%)
	padding: 22px 70px
	font-weight: 500
	color: #fff
	letter-spacing: 1px
	border-radius: 50px
	cursor: pointer
	text-decoration: none
	display: inline-block
	z-index: 4
	position: relative
	&:hover
		color: $accent
		background-image: linear-gradient(to right, rgb( 240, 161, 68 ) 20%, rgb( 224, 82, 71 ) 100%)
	&:before
		content: ''
		display: block
		width: 99%
		height: 97%
		background-color: #fff
		position: absolute
		border-radius: 50px
		left: .5%
		top: 1.5%
		z-index: -1
		opacity: 0

.bsh-btn
	box-shadow: 16.853px 14.141px 0px 0px rgb( 241, 241, 241 )
	&:hover
		box-shadow: 12px 10px 0px 0px rgb( 241, 241, 241 )
	&:focus,
	&:active
		box-shadow: 3px 3px 0px 0px rgb( 241, 241, 241 )


@import "sections/header"
@import "sections/main"



@import "media" // Always at the end
