.intro.intro-child
	.child-bg-1
		width: 60%
		top: -33vw
		right: 12vw
	.child-bg-3
		width: 30%
		top: 100px
		right: 18vw
.small__about
	padding-top: 0
	margin-top: 100px
	margin-bottom: 100px
	&-wrap
		display: flex
		align-items: center
	&--photo
		width: 320px
		height: 320px
		margin-right: 100px
		background-image: linear-gradient(to top, #efa144 0%, #e05247 100%)
		border-radius: 50%
		flex: 0 0 320px
		position: relative
		img
			position: absolute
			width: 100%
			height: 100%
			top: -20px
			left: 8px
			border-radius: 50%
			box-shadow: 0 0 90px rgba(#000, .2)
	&--text
		padding-bottom: 60px
		p:first-child
			b
				color: $accent
				display: block
		.slogan-quote
			position: relative
			color: #fff
			padding: 30px 58px
			font-weight: bold
			background-color: transparent
			background-size: 100%
			background-repeat: no-repeat
			z-index: 1
			top: 40px
			&:after,
			&:before
				content: ''
				display: block
				width: 60px
				height: 60px
				position: absolute
				top: -10px
				left: -35px
				background-image: url(../img/icons/017-left-quote.svg)
				z-index: -1
			&:before
				left: auto
				top: auto
				transform: rotate(180deg)
				right: -30px
				bottom: -15px
.contacts
	&__info
		text-align: center
		background-size: cover
		padding: 70px 0
		margin-bottom: 100px
		h2
			text-align: center
			font-size: 1.25rem
			margin-bottom: 15px
			padding-left: 0
			&:before
				display: none
		ul 
			li
				display: flex
				align-items: center
				text-align: left
				width: 400px
				margin: 0 auto
				margin-bottom: 15px
				font-size: 1.125rem
				font-weight: 500
				position: relative
				&:last-child
					margin-bottom: 0
				svg
					fill: url(#linear-gradient)
					width: 25px
					height: auto
					position: absolute
					left: -35px
.location
	display: flex
	align-items: center
	.map
		width: 60%
	&-form
		width: 45%
		background-image: url(../img/callback-bg-loc.png)
		background-repeat: no-repeat
		background-size: cover
		padding: 142px 0
		position: absolute
		right: 0
		background-position: left -90px center
		form
			max-width: 60%
			width: 100%
			padding-left: 100px
			.row
				flex-direction: column
			.form-group
				margin-bottom: 20px
				width: 100%
				&:last-child
					margin-bottom: 0
				label
					font-weight: 500
					padding-left: 20px
			input[type=submit]
				margin-top: 20px
			textarea
				height: 110px
				border-radius: 30px

