.our-numbers
	background-size: cover
	background-position: center
	min-height: 300px
	&-block
	&-item
		position: relative
		width: 24%
		text-align: center
		.number
			font-size: 4.063rem
			font-weight: bold
			background-image: linear-gradient(to bottom, #efa144 0%, #e05247 100%)
			position: relative
			z-index: 2
			span
				font-size: 2.25rem
			&:before
				content: ''
				display: block
				width: 90px
				height: 90px
				background-color: #f3f3f3
				border-radius: 10rem
				position: absolute
				top: 50%
				left: 10px
				transform: translateY(-50%)
				z-index: -1