.our-numbers
	background-size: cover
	background-position: center
	min-height: 300px
	&-block
	&-item
		.number
			font-size: 4.063rem
			font-weight: bold
			background-image: linear-gradient(to bottom, #efa144 0%, #e05247 100%)